<div style="background: rgb(21, 2, 26)">
    <div style="text-align: center;">
        <a href=""><img src=".\assets\logo.png"></a>
    </div>
    <div>
        <img class="banner" src="../../assets/gallery3.jpg" style="width:100%;">
    </div>
    
   <div class="mini-menu">
        <span class="material-icons menu-toggler" style="background-color: rgb(173, 29, 4); margin-left: 10px;" (click)="toggleMenu()">
           menu
        </span>
        <div class="menu-board" *ngIf="iSMenuOpened">
            <a class="menu-item" href="">HOME</a>
            <a class="menu-item" href="">HIRING</a>
            <a class="menu-item" href="">PROMOTION</a>
            <a class="menu-item" href="#contact">CONTACT</a>
        </div>
   </div>

    <div class="menu-list">
        <a class="menu" href="">HOME</a>
        <a class="menu" href="">HIRING</a>
        <a class="menu" href="">PROMOTION</a>
        <a class="menu" href="#contact">CONTACT</a>
        <a class="order-online" href="#order-online">ORDER ONLINE </a>
    </div>
</div>