<div style="background: rgb(21, 2, 26)">
    <div style="text-align: center;">
        <a href=""><img src=".\assets\logo.png"></a>
    </div>
    <div>
        <img class="banner" src="../../assets/gallery3.jpg" style="width:100%;">
    </div>
    
   <div class="mini-menu">
        <span class="material-icons menu-toggler" style="background-color: rgb(173, 29, 4); margin-left: 10px;" (click)="toggleMenu()">
           menu
        </span>
        <div class="menu-board" *ngIf="iSMenuOpened">
            <div class="menu-item">ABOUT</div>
            <div class="menu-item">HOME</div>
            <div class="menu-item">HIRING</div>
            <div class="menu-item">PROMOTION</div>
            <div class="menu-item">CONTACT</div>
        </div>
   </div>

    <div class="menu-list">
        <a class="menu" href="">ABOUT</a>
        <a class="menu" href="">HOME</a>
        <a class="menu" href="">HIRING</a>
        <a class="menu" href="">PROMOTION</a>
        <a class="menu" href="">CONTACT</a>
        <a class="order-online" href="https://www.doordash.com/convenience/store/24713166/?event_type=autocomplete&pickup=false">ORDER ONLINE </a>
    </div>
</div>