<div style="background: rgb(21, 2, 26)">
    <div style="margin: 0 auto; width: 250px;">
        <img src=".\assets\logo.png" href="" style="width: 250px">
    </div>
    <div class="banner"></div>
    <div style="padding: 15px; text-align: center;">
        <a class="menu" href="">ABOUT</a>
        <a class="menu" href="">HOME</a>
        <a class="menu" href="">HIRING</a>
        <a class="menu" href="">PROMOTION</a>
        <a class="menu" href="">CONTACT</a>
        <a class="order-online" href="https://www.doordash.com/convenience/store/24713166/?event_type=autocomplete&pickup=false">ORDER ONLINE </a>
    </div>
</div>