.menu {
    /* margin-left: 50px; */
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 32, 32);
}

.menu:hover{
    color: rgb(147, 190, 247);
}

.menu-list {
    padding: 20px 0; 
    text-align: center;
}

.order-online {
    position: fixed;
    right: 0;
    top: 70%;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(131, 10, 10);
    font-size: x-large;
    font-weight: bold;
    background: blanchedalmond;
    border-radius: 5px;
    padding: 10px;
}

.banner {
    height: 100vh;
    /* max-width: 800px; */
    /* position: relative; */
    /* margin: 0 auto; */
    /* height: 500px;
    background-image: url("../../assets/shiba1.png"); */
    /* background-size: cover; */
}

.mini-menu {
    display: none;
    width: 200px;
    font-size: 20px;
    color: rgb(150, 145, 139);
    cursor: pointer;
    /* background-color: beige; */
}

.menu-toggler {
    padding: 10px;
}

.menu-board {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-left: 10px
}

.menu-item {
    cursor: pointer;
    padding: 5px 0;
    color: white;
    display: block;
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
}

@media (max-width: 799px) {
    .menu{
        display: none;
    }

    .banner{
        height: 60vh;
    }

    .mini-menu {
        display: block;
    }
}