<div style="text-align: left; background: linear-gradient(to right, rgb(235, 145, 145) , yellow); padding-top: 20px; padding-left: 10%;">
    <div class="footer-column" >
        <div style="font-weight: bold; margin-bottom: 15px; font-size: larger;">STORE HOURS</div>
        <div class="open-close-hour">Monday: 10:00 - 21:00</div>
        <div class="open-close-hour">Tuesday: 10:00 - 21:00</div>
        <div class="open-close-hour">Wednesday: 10:00 - 21:00</div>
        <div class="open-close-hour">Thursday: 10:00 - 21:00</div>
        <div class="open-close-hour">Friday: 10:00 - 21:00</div>
        <div class="open-close-hour">Saturday: 10:00 - 21:00</div>
        <div class="open-close-hour">Sunday: Closed</div>
        <div class="open-close-hour">Sunday: Closed</div>
    </div>
    <mat-divider class="divider" ></mat-divider>
    <div class="footer-column" >
        <div style="font-weight: bold; margin-bottom: 15px; font-size: larger;">CONTACT</div>
        <div class="open-close-hour">Phone: 346-954-4733</div>
        <div class="open-close-hour">Email: info@shibaliquor.com</div>
    </div>
    <mat-divider class="divider" ></mat-divider>
    <div class="footer-column big-map" >    
        <div style="font-weight: bold; margin-bottom: 15px; font-size: larger;">MAP</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.6999322738666!2d-95.61752678488618!3d29.98805248190284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640d309089b157f%3A0x9f22527511ea66db!2sShiba%20Liquor%20Wine%20Spirits%20%26%20Craft%20Beer!5e0!3m2!1sen!2sus!4v1684223959872!5m2!1sen!2sus" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="footer-column mini-map" >    
        <div style="font-weight: bold; margin-bottom: 15px; font-size: larger;">MAP</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.6999322738666!2d-95.61752678488618!3d29.98805248190284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640d309089b157f%3A0x9f22527511ea66db!2sShiba%20Liquor%20Wine%20Spirits%20%26%20Craft%20Beer!5e0!3m2!1sen!2sus!4v1684223959872!5m2!1sen!2sus" width="350" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   
</div>
<div style="background-color: rgb(196, 170, 87); padding: 7px;">
    <div style="text-align: center; font-weight: 800; color: rgb(42, 64, 73);">Shiba Liquor © Copyright 2023</div>
</div>