.footer-column {
    display: table-cell;
    width: 30%;
    margin: 0 10%;
}

.open-close-hour{
    margin-bottom: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider{
    display: none;
}

.mini-map {
    display: none;
}

@media (max-width: 799px) {
    .footer-column{
        display: block;
        width: 100%;
        margin: 0;
    }
    .divider{
        display: block;
    }
    .big-map {
        display: none;
    }
    .mini-map{
        display: block;
    }
    .footer-column{
        padding-top: 15px;
    }
}