<div style="background: linear-gradient(to right, rgb(235, 206, 206), rgb(136, 88, 151))">
<div class="recipe-wrap">
    <div class="content-wrap-sanpham" id="sanpham">
        <mat-tab-group animationDuration="2000ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>MARGARITAS</h2>
                </ng-template>
                <div style="margin: 20px auto;">
                    <img src="../../assets/margaritas.jpg" style="width:30vh; float: left; margin-right: 5px">
                    <li style="font-size: 20px;">2 ounces blanco tequila</li>
                    <li style="font-size: 20px;">1/2 ounce orange liqueur</li>
                    <li style="font-size: 20px;">1 ounce lime juice, freshly squeezed</li>
                    <li style="font-size: 20px;">1/2 ounce agave syrup</li>
                    <li style="font-size: 20px;">Garnish: lime wheel</li>
                    <li style="font-size: 20px;">Garnish: kosher salt (optional)</li>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>PALOMA</h2>
                </ng-template>
                <div style="margin: 20px auto;">
                    <img src="../../assets/margaritas.jpg" style="width:30vh; float: left; margin-right: 5px">
                    <li style="font-size: 20px;">2 ounces blanco tequila</li>
                    <li style="font-size: 20px;">1/2 ounce orange liqueur</li>
                    <li style="font-size: 20px;">1 ounce lime juice, freshly squeezed</li>
                    <li style="font-size: 20px;">1/2 ounce agave syrup</li>
                    <li style="font-size: 20px;">Garnish: lime wheel</li>
                    <li style="font-size: 20px;">Garnish: kosher salt (optional)</li>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>SIESTA</h2>
                </ng-template>
                <div style="margin: 20px auto;">
                    <img src="../../assets/margaritas.jpg" style="width:30vh; float: left; margin-right: 5px">
                    <li style="font-size: 20px;">2 ounces blanco tequila</li>
                    <li style="font-size: 20px;">1/2 ounce orange liqueur</li>
                    <li style="font-size: 20px;">1 ounce lime juice, freshly squeezed</li>
                    <li style="font-size: 20px;">1/2 ounce agave syrup</li>
                    <li style="font-size: 20px;">Garnish: lime wheel</li>
                    <li style="font-size: 20px;">Garnish: kosher salt (optional)</li>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>TEQUILA MANHATTAN</h2>
                </ng-template>
                <div style="margin: 20px auto;">
                    <img src="../../assets/margaritas.jpg" style="width:30vh; float: left; margin-right: 5px">
                    <li style="font-size: 20px;">2 ounces blanco tequila</li>
                    <li style="font-size: 20px;">1/2 ounce orange liqueur</li>
                    <li style="font-size: 20px;">1 ounce lime juice, freshly squeezed</li>
                    <li style="font-size: 20px;">1/2 ounce agave syrup</li>
                    <li style="font-size: 20px;">Garnish: lime wheel</li>
                    <li style="font-size: 20px;">Garnish: kosher salt (optional)</li>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <h2>TEQUILA DAISY</h2>
                </ng-template>
                <div style="margin: 20px auto;">
                    <img src="../../assets/margaritas.jpg" style="width:30vh; float: left; margin-right: 5px">
                    <li style="font-size: 20px;">2 ounces blanco tequila</li>
                    <li style="font-size: 20px;">1/2 ounce orange liqueur</li>
                    <li style="font-size: 20px;">1 ounce lime juice, freshly squeezed</li>
                    <li style="font-size: 20px;">1/2 ounce agave syrup</li>
                    <li style="font-size: 20px;">Garnish: lime wheel</li>
                    <li style="font-size: 20px;">Garnish: kosher salt (optional)</li>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
