<div style="background: linear-gradient(to left, rgb(231, 50, 50) , rgb(45, 47, 51), rgb(136, 88, 151));">
  <div class="to-the-moon" style="text-align: center;">
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <img src="../../assets/gallery1.jpg" style="width:100%; height: 60vh; border: 5px groove rgba(159, 161, 180, 0.438);">
        </div>
      
        <div class="mySlides fade">
          <img src="../../assets/gallery2.png" style="width:100%; height: 60vh; border: 5px groove rgba(159, 161, 180, 0.438);">
        </div>
      
        <div class="mySlides fade">
          <img src="../../assets/gallery3.jpg" style="width:100%; height: 60vh; border: 5px groove rgba(159, 161, 180, 0.438);">
        </div>
    
        <div class="mySlides fade">
            <img src="../../assets/gallery4.png" style="width:100%; height: 60vh; border: 5px groove rgba(159, 161, 180, 0.438);">
        </div>
      
        <!-- Next and previous buttons -->
        <!-- <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a> -->
    </div>
    
      
      <!-- The dots/circles -->
      <div class="to-the-moon">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
        <span class="dot" (click)="currentSlide(4)"></span> 
      </div>
  </div>

  
</div>
 
 