<div id="order-online" style="text-align: center; background: linear-gradient(to left, rgb(104, 93, 93) , rgb(211, 221, 240), rgb(226, 187, 238))" >    
    <a class="company-name" href="https://www.ubereats.com/store/shiba-liquor-wine-spirits-%26-craft-beer/jakDrYclVuC4tp1xtgmALQ?diningMode=DELIVERY">
        <img class="company-name" src="../../assets/ubereat.png" class="online-order">
    </a>
    <mat-divider class="divider"></mat-divider>
    <a class="company-name" href="https://www.doordash.com/convenience/store/24713166/?event_type=autocomplete&pickup=false">
        <img src="../../assets/doordash.png" class="online-order">
    </a>
    <mat-divider class="divider"></mat-divider>
    
    <a class="company-name" href="https://www.clover.com/online-ordering/shiba-liquor-cypress?utm_source=web-dashboard&utm_medium=qrcode&utm_campaign=olo-qr-template">
        <img class="company-name" src="../../assets/clover.png" class="online-order">
    </a>
    <mat-divider class="divider"></mat-divider>
    <a class="company-name" href="https://drizly.com/shiba-liquor/s14310">
        <img class="company-name" src="../../assets/drizly.png" class="online-order">
    </a>

</div>

